
*,a,a:visited,a:focus, a:hover{
    outline:0 !important;
}

body{
	background-color: #ddd;
    font-family: 'Roboto Slab', serif;
    font-size:17px; font-weight:400;
}

.wrapper{
	display:block;
	width:100%;
	clear:both;
}

.wrapper.form{
    background:#ccc;
    border-bottom:1px solid #444;
    box-shadow:inset 0 0 15px #bbb;
}


.header nav{
	background-color: #000000;
	border-radius:0;
	margin-bottom:0;
	
}

#map-canvas{
	border-left:1px solid #444;
}

.leftCol{
	overflow-y:scroll;
	padding:0;
}

.rightCol{
	padding:0;
}

.alert.alert-full {
	margin:0;
    text-align: center;
    border-radius:0;
	padding:5px;
	display:block; 
}

.btn{
    font-family: 'Roboto Slab', serif;
}

#imgContainer{
    height:300px;padding:0; width:300px; margin:15px auto; border:2px dashed #bbb; border-radius:15px; overflow:hidden;
}

#imgContainer img{width:100%; height:100%}


#resultsMsg {
	display:none;
	width:100%;
	text-align:center;
	margin:0;
	float:none;
	border-radius:0;
	clear:both;	
	border-bottom:1px solid green;
	padding:5px 0;
}

#zipcode .modal-body{
	padding:10px 20px;
	background-color:#eeeeee;
}

#zipcode form .form-group{
	width:71%;	
}
#changeZip input[type"text"]{
	border:1px solid #4d9bd3;
}

.sightings{
	display:block;
	width:100%;
	padding: 0;
	margin:0
}
.sightings li{
	list-style:none;
	margin:0;	
	padding:0; 
	background:#444;
	border-bottom:1px solid #444;
}

.sightings li a,
.sightings li a:visited{
	display:block;
	background:#ddd;
	width:100%;
}
.sightings li a h4{
	display:block;
	width:100%;
	margin:0;
	color:#444;
	padding:5px 3px
}

.sightings li a:hover{
	background:#000;
}


input[type="file"].form-control{
    background-color:#ddd;
}
.report-sighting form{
    margin:25px;
}

form .form-group{
    margin-bottom:10px;
}

form label{
    padding:5px 0 0 0;
    font-family: 'Droid Sans', sans-serif;
}

form ul.multi{
   padding-left:0;
}

form ul.multi li{
    list-style:none;
    font-family: 'Roboto Slab', serif;
}

form ul.multi li a{

}

fieldset{
    position:relative;
    border:1px solid #ccc;
    background-color:#fff;
    padding:15px 12px 12px 12px;
    margin-bottom:25px;
}
fieldset.small{
    font-family: 'Droid Sans', sans-serif;
    font-size:14px;
    display:block;
    width:100%;
    padding-bottom:10px;
}
fieldset label,
fieldset .form-group label:first-child{
    font-family: 'Roboto Slab', serif;
    font-size:14px;
    color:#444;
    font-weight:400;
}

fieldset button{
    display:block;
    margin:10px 0;
}

fieldset legend{
    width:auto;
    position:absolute;
    top:-15px;
    left:-15px;
    padding:8px 11px;
    border-radius:180px;
    font-size:16px;
    background-color: #4169e1;
    border:2px solid #ddd;
    color:#fff;
}
fieldset label.fieldset-label{
    display:block;
    width:100%;
    clear:both;
    color:#444;
    border-bottom:1px solid #eee;
    padding:0 0 5px 0;
    margin:15px 0 5px 0;
    font-family: 'Roboto Slab', serif;
    font-weight:700;
    font-size:16px;
}
fieldset .form-group label:first-child{
    display:block;
    width:100%;
    clear:both
}

fieldset .form-group.has-error label{
    color:red;
}
fieldset .form-group.has-error input,
fieldset .form-group.has-error textarea{
    background-color:pink
}

.sighting-submit{
    display:block;
    width:100%;
    text-align: right;
}



