
body{
	
	background-color: #ddd;
}

.wrapper{
	display:block;
	width:100%;
	clear:both;
}


.header nav{
	background-color: #000000;
	border-radius:0;
	margin-bottom:0;
	
}

#map-canvas{
	border-left:1px solid #444;
}

.leftCol{
	overflow-y:scroll;
	
}

.rightCol{
	padding:0;
}


.modal-footer{
	margin-top:0;
	text-align:center;
}
#zipcode .modal-body{
	padding:10px 20px;
	background-color:#eeeeee;
}

#zipcode form .form-group{
	width:71%;	
}
#changeZip input[type"text"]{
	border:1px solid #4d9bd3;
}
