
*,a,a:visited,a:focus, a:hover{
    outline:0 !important;
}

body{
	overflow:hidden;
	background-color: #ddd;
}

.wrapper{
	display:block;
	width:100%;
	clear:both;
}


.header nav{
	background-color: #000000;
	border-radius:0;
	margin-bottom:0;
	
}

#map-canvas{
	border-left:1px solid #444;
}

.leftCol{
	overflow-y:scroll;
	padding:0;
}

.rightCol{
	padding:0;
}



.modal-footer{
	margin-top:0;
	text-align:center;
}
.alert.alert-success{
	margin:0;
	padding:0;
	display:block; 
	}
	
li.active{
	color:blue;
	background-color:#bbb;
}	

#resultsMsg {
	display:none;
	width:100%;
	text-align:center;
	margin:0;
	float:none;
	border-radius:0;
	clear:both;	
	border-bottom:1px solid green;
	padding:5px 0;
}

#zipcode .modal-body{
	padding:10px 20px;
	background-color:#eeeeee;
}

#zipcode form .form-group{
	width:71%;	
}
#changeZip input[type"text"]{
	border:1px solid #4d9bd3;
}

.sightings{
	display:block;
	width:100%;
	padding: 0;
	margin:0
}
.sightings li{
	list-style:none;
	margin:0;	
	padding:0; 
	background:#444;
	border-bottom:1px solid #444;
}

.sightings li a,
.sightings li a:visited{
	display:block;
	background:#ddd;
	width:100%;
}
.sightings li a h4{
	display:block;
	width:100%;
	margin:0;
	color:#444;
	padding:5px 3px
}

.sightings li a:hover{
	background:#000;
}

.panel-body{
    padding:20px 10px;
    margin-bottom:0;
    display:none;
}



.panel .panel-body{
    display:none
}

.panel.open .panel-body{
    display:block;
}
.panel .panel-footer button{
    display:none
}
.panel.open .panel-footer button.save{
    display:block;
}

.panel-footer{
    text-align: right;
    padding:15px
}
.btn-group{
    border:1px solid transparent;
    float:none;
}


form ul{
    padding-left:0
}

form ul li{
    list-style:none;
    margin:5px 0 0 0;
}
ul.multi li{
    display:block;
    clear:both;
}
ul.multi li input[type="radio"],
ul.multi li input[type="checkbox"]{
    display:inline-block;
    vertical-align:top;
    margin: 4px;
    width:8%;
}
ul.multi li span{ width:87%;
    display:inline-block;
}

form ul li.half label,
form ul li.half select,
form ul li.half input{
    display:inline-block;
    vertical-align:top;
    width:68%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}


form ul li.half label{
    text-align:right;
    padding-right:10px;
    width:30%;
}

form ul li.quarter,
form ul li.quarter label,
form ul li.quarter input{
    display:inline-block;
    vertical-align: top;
    width:49.5%;
}
form ul li.quarter label,
form ul li.quarter input{
    width:49%;
    vertical-align: middle;
}

form ul li.quarter label{text-align:right; padding-right:10px;}

form ul li input[type="submit"]{
   margin:5px 0 0 0;
}

form fieldset,
form fieldset label,
form fieldset input{
    display:block;
    width:100%;
}

ul.multi li a,
ul.multi li a:visited{
    display:inline-block;
    text-decoration:none;
    color:#444;
}

ul.multi li a:hover{
    color:#999;
}